@use'./src/_custom.scss' as *;

.suggest{
  background: rgb(242, 241, 241);
  min-height: 100vh;
  padding-top: 7rem;
  
  &-1{
   width: 60%;
   margin: 0 auto;

   @include media-breakpoint-down(lg){
    width: 90%;
   }
   
  }
  button{
   background: lightgray;
   margin-right: 5px;
   &:hover{
    background: gray;
    color: #000;
   }
  }

  form{
    text-align: center;
    .thanks{
      color: $c3;
      font-size: 1.3rem;
    }
  }

}