@use'./src/_custom.scss' as *;
@use'./src/custom/_typography.scss' as *;
@use'./src/custom/_universal.scss' as *;

.about{
  background: $c3;

  &-me{
    font-size: 1.5rem;
    color: black;
    font-weight: 400;
    display: inline-block;
    margin-top: 7rem;
  }
  &-desc{
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
    display: inline-block;
  }

  .img{
    position: relative;
    @include transitionProperty(4000ms);
  .me{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
  }
  .icon{
    opacity: 0;
  }
  span{
    color: $c2;
  }

  .border-animation{
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    border: 0.55rem solid $c1;
    border-radius: 50%;
    animation: border 2s linear infinite;

    &--border-1{
      animation-delay: 2s;
    }
    &--border-2{
      animation-delay: 2.3s;
   }
  }

 }


 .hide{
  @include transitionProperty(4000ms);
   border: 0.1rem solid $c1;
   padding: 2rem;
   padding-bottom: 0rem;
   font-size: 0.5rem;
   border-radius: 1rem;
   color: black;
   font-size: 1rem;
   font-weight: 300;
   p{
     color: white;
   }
   .icon {
     padding-right: 1rem;
     padding-top: 0.5rem;
   }
 }


 @include media-breakpoint-down(md){
  &-me{
    display: none;
  }
  .img{
    align-items: center;
    .icon{
      opacity: 1;
    }
  }

} 



}
