@use'./src/_custom.scss' as *;
@use'./src/custom/_typography.scss' as *;
@use'./src/custom/_universal.scss' as *;

.about{
  background: $c3;

  &-me{
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
    display: inline-block;
    margin-top: 5em;
  }
  &-desc{
    font-size: 1.1rem;
    color: white;
    font-weight: 400;
    display: inline-block;
  }

  &-desc-2{
    font-size: 1rem;
    color: wheat;
    font-weight: 300;
    padding-top: 0.5em;

    .showMoreText {
      display: block;
      margin: 0.5em 0;
      color: $c2;
      font-weight: 500;
      &:hover{
        color: gray;
      }
    }

    .para{
      display: block;
    }
    .quote{
      color: $c2;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .diff{
      font-style: italic;
      font-size: 1.2rem;
      font-weight: 500;
      color: $c1;
      padding-left: 4em;
      padding-top: 1em;
    }
  }

  .img{
    position: relative;
    text-align: center;
    @include transitionProperty(3000ms);
   
  .me{
    width: 30rem;
    max-width: 100%;
    max-height: 30rem;
    object-fit: cover;
  }
  .icon{
    display: none;
  }
  span{
    color: $c2;
  }

  .border-animation{
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    border: 0.55rem solid $c1;
    border-radius: 50%;
    animation: border 2s linear infinite;

    &--border-1{
      animation-delay: 2s;
    }
    &--border-2{
      animation-delay: 2.3s;
   }
  }

 }


 .hide{
   border: 0.1px solid rgb(114, 118, 118);
   padding: 2em;
   padding-bottom: 0em;
   font-size: 0.5rem;
   border-radius: 3px;
   color: black;
   font-size: 1rem;
   font-weight: 300;
   @include transitionProperty(2000ms);
   p{
     color: white;
     padding-top: 0.5em;
   }
   .icon {
     padding-right: 1rem;
     padding-top: 0.5rem;
   }
 }


 @include media-breakpoint-down(md){
  &-me{
    display: none;
  }
  .img{
    align-items: center;
    .icon{
      display: block;
    }
  }

 } 


}
