@use'./src/_custom.scss' as *;
@use'./src/custom/_typography.scss' as *;
@use'./src/custom/_universal.scss' as *;


.contact{
  background: $primary;

  .bg{
    background: $c4;
  }
  .bg-2{
     background: $c5;
  }

 .cta-info{
   padding: 3rem;
   margin: 1rem 0;

   .color{
     color: wheat;
     font-style: italic;
   }

   .underline{
     text-decoration: underline;
   }
 
    &-list{
     position: relative;
     display: block;
     padding-top: 0.5rem;
     padding-left: 0.5rem;
     margin-bottom: 2rem;

     a{
       text-decoration: none;
     }
 
     .social{
       margin-bottom: 1rem;

       img{
         width: 2rem;
         height: 2rem;
         object-fit: cover;
         border-radius: 50%;
        }
       .no{
         font-size: 1rem;
         font-weight: 400;
         color: white;
         margin-left: 0.5rem;
         transition: all ease-in-out 1s;
         &:hover{
           color: wheat;
           transform: scaleY(1.5);
         }
      }
     }
 
    }
  }

 .form{
   margin-top: 5rem;
   text-align: center;

   span{
     color: green;
   }
 }

 @include media-breakpoint-down(md){
  .form{
    margin-top: 0;
  }
 }
 

 @include media-breakpoint-down(sm){
    .cta-info{
      &-list{
        .link{
          img{
            width: 1.3rem;
            height: 1.3rem;
          }
          .no{
            font-size: 0.5712rem;
          }
        }
      }
    }
 }
  
}