@use'./src/_custom.scss' as *;
@use'./src/custom/_typography.scss' as *;
@use'./src/custom/_universal.scss' as *;

.portfolioList{
  display: flex;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem;
  margin-right: 0.4em;
  border-radius: 10px;
  cursor: pointer;
   &.active{
    background: $primary;
    //padding: 0 0;
   }

 @include media-breakpoint-down(md){
   font-size: 0.8rem;
   padding: 0.5rem;
 }

  
}
